<br/>
<h1>Editing Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>
<br/>
<%= link_to 'Show', @restaurant, class:'btn btn-secondary' %>
<%= link_to 'Back', restaurants_path, class:'btn btn-dark' %>
